<%= @response["total"] %> Total Stores <br>
<div class="all_stores">
  <%= @response["stores"].each do |store| %>
    <div class="stores">
      Store ID: <%= store["storeId"] %> <br>
      Store Name: <%= store["longName"] %> <br>
      City: <%= store["city"] %> <br>
      Distance: <%= store["distance"] %> <br>
      Phone: <%= store["phone"] %> <br>
      Store Type: <%= store["storeType"] %> <br> <br>
    </div>
  <% end %>
</div>
